
<div>

    

    <div *ngIf="message" class="alert alert-success">
        <p>{{message}}</p>
    </div>
    
    <div *ngIf="errorMessage" class="alert alert-danger"> 
        <p>{{errorMessage}}</p>
    </div>

    <div class="container">

    <form id="fundraiserSignUp" #fundraiserSignUp="ngForm" class="form-group">
        <h2>New Registration</h2>

        <label for="fundraiserName" class="col-form-label-lg">Name:</label>
        <input type="text" id="fundraiserName" name="fundraiserName" [(ngModel)]="newFundraiser.name"  #nameRef="ngModel" pattern="[A-Za-z]{3,}" placeholder="Enter your name"  class="form-control" required>
        <div *ngIf="nameRef.invalid && nameRef.touched || nameRef.dirty">
            <p *ngIf="nameRef.errors?.['required']" class="text-danger">Name is required...can't be blank</p>
            <p *ngIf="nameRef.errors?.['pattern']" class="text-danger">Only characters are allowed,minimum 3 characters are required</p>
        </div>
        <br>

        <label for="fundraiserEmail" class="col-form-label-lg">Email:</label>
        <input type="email" id="fundraiserEmail" name="fundraiserEmail" [(ngModel)]="newFundraiser.email" #emailRef="ngModel" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" placeholder="Enter your email"  class="form-control" required>
        <div *ngIf="emailRef.invalid && emailRef.touched || emailRef.dirty">
            <p *ngIf="emailRef.errors?.['required']" class="text-danger">Email is required...can't be blank</p>
            <p *ngIf="emailRef.errors?.['pattern']" class="text-danger">Invalid email format.</p>
        </div>
        <br>


        <label for="fundraiserPassword" class="col-form-label-lg">Password:</label>
        <input type="password" id="fundraiserPassword" name="fundraiserPassword" [(ngModel)]="newFundraiser.password" #passwordRef="ngModel" minlength="6" placeholder="Enter your password"  class="form-control" required>
        <div *ngIf="passwordRef.invalid && passwordRef.touched || passwordRef.dirty">
            <p *ngIf="passwordRef.errors?.['required']" class="text-danger">Password is required.</p>
            <p *ngIf="passwordRef.errors?.['minlength']" class="text-danger">Password must contain at least 6 characters.</p>
        </div>
        <br>

        <button (click)="redirectToFundraiserLogin()" class="btn btn-success">SignUp</button>
    </form>
</div>
</div>
