<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 4
    <h2 class="welcome">Welcome to Fundraise App</h2>
  </div>
  <img src="/assets/images/FundraiseImage1.jpg" style="width:100%">
  <div class="buttons">
    <button>Create Post</button>
    <button>Donate Now</button>
  </div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 4
    <h2 class="welcome">Welcome to Fundraise App</h2>
  </div>
  <img src="/assets/images/FundraiseImage2.jpg" style="width:100%">
    <div class="buttons">
    <button>Create Post</button>
    <button>Donate Now</button>
  </div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 4
    <h2 class="welcome">Welcome to Fundraise App</h2>
  </div>
  
  <img src="/assets/images/FundraiseImage3.jpg" style="width:100%">
 <div class="buttons">
    <button>Create Post</button>
    <button>Donate Now</button>
  </div>
</div>

<div class="mySlides fade">
    <div class="numbertext">4 / 4
        <h2 class="welcome">Welcome to Fundraise App</h2>
    </div>
    
    <img src="/assets/images/FundraiseImage4.jpg" style="width:100%">
   <div class="buttons">
      <button>Create Post</button>
      <button>Donate Now</button>
    </div>
  </div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>


</body>
</html> 
