 
  form {
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 50vw;
    background-color: #f2f2f2;
    border-radius: 3vw;
   
  }
  
  
  .container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50vw; 
   }

  .form-group
  {
      padding: 50px 50px 50px 50px ;
  }
  
  
  
  input{
    width: 25vw;
    height: 4vw;
      display: block;
      color:black;
      text-align:justiy;
      font-size: 150%;
  }