<div >
  <nav  *ngIf="navbarService.isNavBarVisible">
    <ul>
      <li>
        <a routerLink='profile' 
         routerLinkActive="active" >Profile</a>
    </li>
                
      <li>
          <a routerLink='home' 
           routerLinkActive="active" >Home</a>
      </li>
    
      <li>
          <a routerLink='posts' 
           routerLinkActive="active"  >Posts</a>
      </li>
    </ul>
    
    </nav>
</div>
<div id="login">
  <li>
    <a routerLink='donor-login'  routerLinkActive="active"  *ngIf="loginbuttonService.isLoginButtonVisible" (click)="loginbuttonService.hideLoginButton()">Login</a> 
</li>
</div>
<div>
<router-outlet></router-outlet>
</div>