.formContainer {

    margin: 0 auto; /* Center the form container */
    max-width: 800px; /* Set a maximum width for the form container */
    padding: 20px; /* Add some padding around the form */
    border: 1px solid #ccc; /* Add a border for a clean look */
    border-radius: 5px; /* Add rounded corners */
    background-color: #f9f9f9; /* Set a light background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
    padding-top: 4vw;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 4vw;
}

.formContainer form {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body {
    padding-top: 2vw;
    padding-bottom: 2vw;
}