<p>add-comment works!</p>

<div>
  <h3> Add new comment</h3>
  <div *ngIf="message" class="alert alert-success">
    <p> {{message}}</p>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    <p> {{errorMessage}}</p>
  </div>
  <form>
    <label for="donorId">Donor Id</label>
    <input type="number" id="donorId" name="donorId">

    <label for="postId">Post Id</label>
    <input type="number" id="postId" name="postId">

    <label for="commentDescription">Comment Description</label>
    <input type="test" id="commentDescription" name="commentDescription">


    <button (click)="createComment()" class="btn btn-success">Add Account</button>
  </form>
</div>