<p>donor-profile works!</p>
<p>ID: {{ user?.id }}</p>
<p>Name: {{ user?.name }}</p>
<!-- <form id="donorSignUp" #donorSignUp="ngForm">

  <label for="donorName">Name:</label>
  <input type="text" id="donorName" name="donorName" [(ngModel)]="newDonor.name"  #nameRef="ngModel" pattern="[A-Za-z]{3,}" required>
  <div *ngIf="nameRef.invalid && nameRef.touched || nameRef.dirty">
      <p *ngIf="nameRef.errors?.['required']" class="text-danger">Name is required...can't be blank</p>
      <p *ngIf="nameRef.errors?.['pattern']" class="text-danger">Only characters are allowed,minimum 3 characters are required</p>
  </div>
  <br> -->
  <form id="donorUpdation" #donorSignUp="ngForm">
    <label for="donorName">Name:</label>
    <input type="text" id="donorName" name="donorName" [(ngModel)]="newName"  #nameRef="ngModel" pattern="[A-Za-z]{3,}" required>
    <div *ngIf="nameRef.invalid && nameRef.touched || nameRef.dirty">
        <p *ngIf="nameRef.errors?.['required']" class="text-danger">Name is required...can't be blank</p>
        <p *ngIf="nameRef.errors?.['pattern']" class="text-danger">Only characters are allowed,minimum 3 characters are required</p>
    </div>
    <br>
  </form>

<button (click)="updateDonorName()">Update Name</button><br><br>
<p>Email: {{ user?.email }}</p>
<p>Role: {{ user?.role }}</p>